<h1>New Patient Registration</h1>

<%= form_for(@patient, url: patients_path) do |form| %>
  <%= render "application/error_messages", object: @patient %>
  <!-- User Fields -->
  <div>
    <% if @patient.user.errors.any? %>
      <div id="error_explanation_user">
        <h2><%= pluralize(@patient.user.errors.count, "error") %> prohibited this patient from being saved:</h2>
        <ul>
          <% @patient.user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= form.fields_for :user do |user_fields| %>
      <%= user_fields.label :name, 'User Name' %>
      <%= user_fields.text_field :name %>

      <%= user_fields.label :email, 'User Email' %>
      <%= user_fields.email_field :email %>

      <%= user_fields.label :avatar, 'User Avatar' %>
      <%= user_fields.file_field :avatar, accept: "image/*" %>

      <%= user_fields.label :password, 'User Password' %>
      <%= user_fields.password_field :password %>

      <%= user_fields.label :password_confirmation, 'Confirm Password' %>
      <%= user_fields.password_field :password_confirmation %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= form.submit nil, class: 'btn' %>
  </div>
<% end %>
