<div class="d-lg-flex d-md-flex justify-between">
    <h1>Your Appointments list</h1>

    <%= button_to 'Create Appointment',
        new_patients_appointment_path,
        :id => "create-appointment-btn",
        :class => "btn",
        :method => :get
    %>
</div>

<% if !@appointments.blank? %>
    <div class="mt-8 grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      <% @appointments.each do |appointment| %>
        <appointment class="card">
          <div class="appointment-info">
            <div class="flex">
                <%= button_to patients_appointment_path(appointment), :method => :delete, :class => 'text-danger' do %>
                  <%= heroicon "trash" %>
                <% end %>
              </div>
              <h2 class="card-body p-0">
                <%= appointment.time.strftime("%A, %d %B, %Y - %H:%M") %>
              </h2>
              <h3 class="card-body p-0">
                <%= appointment.surgery_type.humanize %>
              </h3>
              <% if appointment.description? %>
                  <p class="card-body">
                    <%= appointment.description %>
                  </p>
              <% end %>
              <div class="photo-container row">
                <% if appointment.left_photo? %>
                    <div class="photo col-lg-4 col-md-4 col-sm-12 rounded-circle">
                      <%= image_tag url_for(appointment.left_photo), alt: 'Left Photo' %>
                    </div>
                <% end %>
                <% if appointment.right_photo? %>
                    <div class="photo col-lg-4 col-md-4 col-sm-12 rounded-circle">
                      <%= image_tag url_for(appointment.right_photo), alt: 'Right Photo' %>
                    </div>
                <% end %>
                <% if appointment.front_photo? %>
                    <div class="photo col-lg-4 col-md-4 col-sm-12 rounded-circle">
                      <%= image_tag url_for(appointment.front_photo), alt: 'Front Photo' %>
                    </div>
                <% end %>
              </div>
          </div>
          <div class="doctor-info col-12 py-4">
            <div class="container">
              <div class="row">
                <div class="col-3">
                  <%= avatar(appointment.doctor.user, 60) %>
                </div>
                <div class="col-9">
                  <h3 class="doctor-name mt-0">
                    <span class="font-weight-bold">Doctor:</span> <%= appointment.doctor.user.name %>
                  </h3>
                  <div>
                    <span class="font-weight-bold">Speciality:</span> <%= appointment.doctor.specialty %>
                  </div>
                  <div>
                    <span class="font-weight-bold">Clinic:</span> <%= truncate strip_tags(appointment.doctor.clinic_name), length: 160 %>
                  </div>
                  <div>
                    <span class="font-weight-bold">City:</span> <%= truncate strip_tags(appointment.doctor.city), length: 160 %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <p></p>
        </appointment>
      <% end %>
    </div>
    <div class="text-center mt-10">
      <%== pagy_nav(@pagy) %>
    </div>
<% else %>
    Here no appointments
<% end %>
