<div class="flex justify-between">
    <h1>Your Appointments list</h1>

    <%= button_to 'Create Appointment',
        new_patients_appointment_path,
        :id => "create-appointment-btn",
        :class => "btn",
        :method => :get
    %>
</div>

<% if !@appointments.blank? %>
    <div class="table-responsive mt-8">
      <table>
        <thead>
        <tr>
          <th></th>
          <th>Surgery Type</th>
          <th>Description</th>
          <th>Photos</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% @appointments.each do |appointment| %>
          <tr>
            <%= appointment.surgery_type.humanize %>
            <br>
            <%= appointment.description %>
            <hr>
            <div class="photo-container">
              <div class="photo">
                <%= image_tag url_for(appointment.left_photo), alt: 'Left Photo' %>
              </div>
              <div class="photo">
                <%= image_tag url_for(appointment.right_photo), alt: 'Right Photo' %>
              </div>
              <div class="photo">
                <%= image_tag url_for(appointment.front_photo), alt: 'Front Photo' %>
              </div>
            </div>
          </tr>
        <% end %>
        </tbody>

      </table>
    </div>


    <div class="mt-8 grid sm:grid-cols-2 gap-8">
      <% @appointments.each do |appointment| %>
        <appointment class="card">
          <h3 class="card-body">
            <%= appointment.surgery_type.humanize %>
          </h3>
          <p class="card-body">
            <%= appointment.time %><%= appointment.time %>
          </p>
          <p class="card-body">
            <%= appointment.description %>
          </p>
          <div class="photo-container">
            <div class="photo">
              <%= image_tag url_for(appointment.left_photo), alt: 'Left Photo' %>
            </div>
            <div class="photo">
              <%= image_tag url_for(appointment.right_photo), alt: 'Right Photo' %>
            </div>
            <div class="photo">
              <%= image_tag url_for(appointment.front_photo), alt: 'Front Photo' %>
            </div>
          </div>
          <div class="col-12 py-4">
            <div class="container">
              <div class="row">
                <div class="col-6">
                  <%= avatar(appointment.doctor.user, 60) %>
                </div>
                <div>
                  <h3 class="doctor-name">
                    Doctor: <%= link_to appointment.doctor.user.name, doctor_path(appointment.doctor) %>
                  </h3>
                  <p class="card-body">
                    Speciality: <%= appointment.doctor.specialty %>
                  </p>
                  <div class="card-body">
                    Clinic: <%= truncate strip_tags(appointment.doctor.clinic_name), length: 160 %>
                  </div>
                  <div class="card-body">
                    City: <%= truncate strip_tags(appointment.doctor.city), length: 160 %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <p></p>
        </appointment>
      <% end %>
    </div>
    <div class="text-center mt-10">
      <%== pagy_nav(@pagy) %>
    </div>
<% else %>
    Here no appointments
<% end %>
